@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div style="margin-top:20px;">
        <p style="margin:0px;">VER1</p>
        @Html.Raw(Model.QR.CreateHtmlImage("VER1"))
    </div>
    <div style="margin-top:20px;">
        <p style="margin:0px;">VER1 (With Color Table)</p>
        @Html.Raw(Model.QR.CreateHtmlImageWithColorTable("VER1"))
    </div>
</div>
